* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

input[type="number"] {
    border: none;
    border-radius: 4px;
}

#router {
    display: none;
}

#background {
    z-index: -1;
    background-image: url('../img/f78a60ce6361b862790d615589a687dc_t.jpeg');
    background-size: 226px 170px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: BGAnimation 4s linear infinite;
}

@keyframes BGAnimation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 226px 170px;
    }
}

[data-label] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*Waiting Room*/
@keyframes BoxIntro {
    from {
        top: 0;
        opacity: 0;
    } to {
        opacity: 1;
    }
}

[data-scope="ControlBox"], [data-scope="RoomBox"] {
    position: absolute;
    border: 5px solid #3d1201;
    background-color: #c1c1c3;
    border-radius: 16px;
    padding: 20px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    margin: 0 auto;
    width: 500px;
    animation: BoxIntro 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes LeftEarAnimation {
    from {
        width: 0;
        height: 0;
        left: 100px;
        top: 50px
    } to {
        width: 200px;
        height: 200px;
        opacity: 1;
    }
}
@keyframes RightEarAnimation {
    from {
        width: 0;
        height: 0;
        right: 100px;
        top: 50px;
    } to {
        width: 200px;
        height: 200px;
        opacity: 1;
    }
}


[data-scope="BoxEar"] div {
    position: absolute;
    border-radius: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #c1c1c3;
    border: 5px solid #3d1201;
    border-left-color: #c1c1c3;
    top: -100px;
    z-index: 1;
}

[data-scope="BoxEar"] div:nth-child(1) {
    left: -50px;
    transform: rotate(240deg);
    animation: LeftEarAnimation 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    animation-delay: .5s;
}

[data-scope="BoxEar"] div:nth-child(2) {
    right: -50px;
    transform: rotate(300deg);
    animation: RightEarAnimation 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    animation-delay: .8s;
}



@font-face {
    font-family: NexonBazziWeb;
    src: url("./Bazzi.woff") format('woff'),
         url("./Bazzi.eot") format('eot');
}

[data-scope="GameTitle"] {
    text-align: center;
    font-family: NexonBazziWeb, sans-serif;
    font-size: 32px;
}

[data-scope="GameTitle"] span {
    letter-spacing: 4px;
}

[data-scope="Nickname"] input {
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid brown;
}

[data-scope="Rooms"] {
    height: 200px;
    border: 3px solid #fad4c1;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
}

form label {
    display: block;
}

/*RoomBox-GameCanvas*/

/*[data-scope="Tools"]*/main button {
    background-color: #e7e7e7;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
}

[data-scope="RoomBox"] {
    width: 1000px;
    top: 50%;
}

[data-scope="PlayerBox"] {
    margin: 20px;
}

[data-scope="Player__body"] {
    display: inline-block;
    margin: 0 4.3px;
}

[data-scope="Player__playing"] {
    width: 100px;
    text-align: center;
    background-color: #bfe4b8;
    border-radius: 4px;
    overflow: hidden;
    height: 158px;
}

[data-scope="Player__playing"] img {
    width: 100%;
}

p.Player__action {
    text-align: center;
    border: 1px dotted pink;
    border-radius: 4px;
}

[data-scope="Hurray"] {
    width: 350px;
    padding: 15px;
    display: block;
    margin: 0 auto;
}

[data-scope="Catch"], [data-scope="Miss"], [data-scope="Flee"] {
    width: 32.481%;
}

.brython-dialog-close, .brython-dialog-button:nth-child(2) { 
    display: none;
}

